@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
*{
    margin:0;
    padding:0;
    --black:#2D2D2D;
    --white:#FFFFFF;
    --gray:#ABABAB;
}
/* Global Elements */
body{
    font-family: 'Noto Sans TC', sans-serif;
}
h1{
    font-size:60px;
}
h2{
    font-size:30px;
}
p{
    margin:15px;
}
h1,h2,p{
    text-align:center;
}
/* Navigation */
nav{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
nav li{
    list-style:none;;
}
/* Game Board */
#gameContainer{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    width:350px;
    margin:0 auto;

}
.card{
    font-size:40px;
    margin:10px;
    width:60px;
    height:60px;
    text-align:center;
    background-color:var(--black);
    color:var(--white);

}
.card:hover{
    color:var(--gray);
    cursor:pointer;
}
/* Color Themes */
@media(prefer-color-schme: light){
    :root{
        --white-color:(--white);
        --offblack:(--black);
        --lightgray:(--grey);
    }
}